@import url("./assets/satoshi.css");

:root {
    /* font-family: ; */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    /* background-color: #242424; */
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --default-Maroon: "rgb(128, 0, 0)";
    --default-Red: "rgb(230, 25, 75)";
    --default-Pink: "rgb(250, 190, 212)";
    --default-Brown: "rgb(154, 99, 36)";
    --default-Orange: "rgb(245, 130, 49)";
    --default-Apricot: "rgb(252, 187, 122)";
    --default-Olive: "rgb(128, 128, 0)";
    --default-Yellow: "rgb(255, 229, 0, 0.83)";
    --default-Beige: "rgb(203, 177, 100)";
    --default-Lime: "rgb(191, 239, 69)";
    --default-Green: "rgb(60, 180, 75)";
    --default-Mint: "rgb(170, 255, 195)";
    --default-Teal: "rgb(70, 153, 144)";
    --default-Cyan: "rgb(66, 212, 244)";
    --default-Navy: "rgb(67, 99, 216)";
    --default-Blue: "rgb(145, 194, 247)";
    --default-Purple: "rgb(145, 30, 180)";
    --default-Lavender: "rgb(213, 177, 255)";
    --default-Magenta: "rgb(240, 50, 230)";
    --default-Grey: "rgb(169, 169, 169)";
}

p {
    /* color: #000000; */
}

h1 {
    /* color: #000000; */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: bold;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    /* color: #ffffff; */

    /* p {
        color: #ffffff;
    } */
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.white {
    color: #ffffff;
}

/* colors */

.maroon {
    color: var(--default-Maroon);
}

.red {
    color: var(--default-Red);
}

.pink {
    color: var(--default-Pink);
}

.brown {
    color: var(--default-Brown);
}

.orange {
    color: var(--default-Orange);
}

.apricot {
    color: var(--default-Apricot);
}

.olive {
    color: var(--default-Olive);
}

.yellow {
    color: var(--default-Yellow);
}

.beige {
    color: var(--default-Beige);
}

.lime {
    color: var(--default-Lime);
}

.green {
    color: var(--default-Green);
}

.mint {
    color: var(--default-Mint);
}

.teal {
    color: var(--default-Teal);
}

.cyan {
    color: var(--default-Cyan);
}

.navy {
    color: var(--default-Navy);
}

.blue {
    color: var(--default-Blue);
}

.purple {
    color: var(--default-Purple);
}

.lavender {
    color: var(--default-Lavender);
}

.magenta {
    color: var(--default-Magenta);
}

.grey {
    color: var(--default-Grey);
}
